/* Scrollbar Width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #e6f4ea; /* very light green */
  border-radius: 100vw;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #15803d; /* green-700 */
  border-radius: 100vw;
  border: 2px solid #e6f4ea;
  transition: background 0.3s ease;
}

/* Hover Effect */
::-webkit-scrollbar-thumb:hover {
  background: #166534; /* darker green */
}